 

.content{
  font-size: 9px;
  font-weight: bold;
color:white;
}
ion-segement-button{
  font-size: 12px;
    font-style: inherit;
    font-weight: 500;
    color: green;
}
ion-button{
  --background: #27ae60;
}
ion-toolbar
  {
    
    --background: #27ae60;
  }
  
 ion-button{
  position: absolute;
  width: 16em;
  left: 20%;
 }