
ion-button{
    --background:#27ae60;
}
*{
    font-family: Montserrat!important;

  }
.productdesc {
    background: #ffffff;
    padding: 1rem;
  }
//   .productimage {
//     height: 25rem;
//     width: 30rem;
//     padding: 2rem;
//     object-fit: scale-down;
//     margin: auto;
//   }
.price span{
    color: #909090;
    text-decoration: line-through;
  }
  p{
    display: inline-block;
    vertical-align: middle;
  }
#product-page{
    --background:#27ae60; 
}
.pro-content{
    font-size: 12px;
     color:black;
     //color: green;
  }
#enquiry{
    --background:transparent;
}
#top-icons{
    font-size: 17px;
}
// ion-label{
//     color:green!important;
// }  


.cross{

    position: fixed;
   margin: auto;
    left: 3%;
    top: 3%;
    top: 4%;
    z-index: auto;
}
.sharecross{

 position: fixed;
    margin: auto; 
    left: 92%;
    top: 3%;
    top: 4%;
   /// z-index: auto;
}

div.swiper-pagination {
    top:20px;
    bottom:inherit;
 }
  
  
.pricetag{
    font-weight:bold;
    font-size: 16px;;
}