<ion-header class="ion-no-border">
  <ion-toolbar id="product-page">
<ion-back-button color="light" slot="start" defaultHref="/dashboard/home"></ion-back-button>
<ion-title color="light">Product Description</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <div class="productdesc">  
<ion-slides [options]="sliderOpts" pager="true" #slider (ionSlidesDidLoad)="slidesDidLoad(slider)" zoom>
        <ion-slide *ngFor="let advproductdetail of advimgbase.split(',')">
          <div class="ion-text-right swiper-zoom-container">
            <img  class="productimage" 
            src="http://localhost:4000/{{advproductdetail}}">
          </div>
        </ion-slide>
      </ion-slides>
      </div>

      <ion-row>
        <ion-col>
            <h1>{{advname}}</h1>
        </ion-col>
      <ion-col>
          <p class="price">{{advprice | currency :"Rs. "}}&nbsp;&nbsp;/ {{advquant}} {{itemQuantityType}}</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <p>
          {{advdesc}}
      </p>
    </ion-row>







  <!-- <ion-grid>
    <ion-row>
      <ion-col col-8>
       


        <ion-slides [options]="sliderOpts" pager="true" #slider (ionSlidesDidLoad)="slidesDidLoad(slider)" zoom>
          <ion-slide *ngFor="let advproductdetail of advimgbase.split(',')">
            <div class="ion-text-right swiper-zoom-container">
              <img style="height: 14em; width: auto;" id="valued_image" 
              src="http://localhost:4000/{{advproductdetail}}">
            </div>
          </ion-slide>
        </ion-slides> -->
        
            <!-- <div class="ion-text-right swiper-zoom-container">
              <div *ngFor="let productdetail of imgbase.split(',')">

             
              <img style="height: 14em; width: auto;" id="valued_image" 
              src="http://localhost:4000/{{productdetail}}">

            </div>
          </div> -->

      
      <!-- </ion-col>-->

    
</ion-content>




<ion-toolbar id="enquiry">
  <ion-grid>
    <ion-row>


      <ion-col>
        <ion-button expand="block"  (click)="callnow(productphone)">CONTACT</ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-toolbar>


 








<!-- <ion-fab vertical="bottom" [hidden]="favourite" horizontal="end" slot="fixed">
  <ion-fab-button color="success" (click)="addtoFavourites()">
    <ion-icon name="heart-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-fab vertical="bottom" *ngIf="favourite" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="heart"></ion-icon>
  </ion-fab-button>
</ion-fab> -->