<ion-header>
 
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="container">
    <div class="page-header">
      <p>Welcome to MobileMandi</p><br><br>
      <h3>Let's support local farmers</h3>
    </div>

    <img src="../../assets/gif/ss.gif" />
      
    <div class="button-container">
      <ion-row>
        <ion-col>
          <ion-button expand="full" class="main-button" shape="round" routerDirection="forward"  routerLink="/login"
          >Login</ion-button>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <ion-button  expand="full" class="main-button" shape="round" routerDirection="forward"   routerLink="/signup"  
          >Signup</ion-button>
        </ion-col>
      </ion-row>

       
     

     
    
     
      
  <small style="font-weight: bold;" routerDirection="forward"   routerLink="/dashboard/home"  
 >Skip</small>
    </div>
  
  </div>  

</ion-content>