<ion-header>
 
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="container">
    <div class="page-header">
      <p>Welcome to MobileMandi</p><br><br>
      <h3>Let's support local farmers</h3>
    </div>

    <img src="../../assets/gif/gg.gif" />
      
    <div class="button-container">
     <ion-button routerDirection="forward" class="main-button"  routerLink="/login"
    expand="block">Login</ion-button>
     <ion-button  routerDirection="forward" fill="outline"    routerLink="/signup"  expand="block" 
   >Signup</ion-button>
    </div>
  
  </div>
  
</ion-content>