<ion-header >
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-button class="backbtn" routerLink="/welcomepage"  routerDirection="backward">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="loginForm" (ngSubmit)="loggedin(loginForm.value)">

  <div class="ion-padding container">
   <img class="logo" src="../../assets/icon/Artboard 2.png"/>

    <div class="form-container">
      <ion-item>
        <ion-label position="floating">Full Name</ion-label>
        <ion-input clearInput type="text" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Mobile Number</ion-label>
        <ion-input formControlName="number" clearInput type="number" ></ion-input>
      </ion-item>

      <!-----Validate Number ------->
      <div class="validation_message">
<p class="error" *ngIf="isSubmitted && errorControl.number.errors?.required">
  Phone number is required.</p>
<p class="error" *ngIf="isSubmitted && errorControl.number.errors?.minlength">
  <ion-icon name="alert-circle-sharp"></ion-icon> Please enter 10 digit Mobile number.</p>
<p class="error" *ngIf="isSubmitted && errorControl.number.errors?.pattern">
  <ion-icon name="alert-circle-sharp"></ion-icon>Please enter a valid number.</p>

</div>

      <ion-button expand="block" class="main-button"
      (click)="loggedin(loginForm.value)">Log in
      </ion-button>


      <div class="sign-up">
        <ion-label slot="fixed" expand="block">Dont have an account? &nbsp;<a
          routerLink="/signup">Sign
          up</a>
      </ion-label>
      </div>
    </div>
  </div>
  </form>
</ion-content>