// This will remove iOS Header Line
// ion-toolbar {
//   --border-width: 0 !important;
//   --background: #0b833c;
// }

// Removing Android Header Line
.header-md::after {
  background: none !important;
}


.container h1 {
  margin-top: 0;
}
ion-title{
  font-weight: 900;
  
}
// ion-content{

//   --background: url(../../assets/imgs/bg.png) 0 0/100% 100% no-repeat;
//   }

.validation_message{
  p{
    
    color: red!important;
    font-size: 10px!important;
  }
  ion-icon{
    font-size: 16px!important;
    margin-top: 1px!important;
  }
}
 
.backbtn {
  margin-left: 20px;
}
ion-label{
  color: green!important;
  
    margin: 8px;
}
// ion-input{
  
  
//     margin-bottom: 2rem;
// }
.form-container {
  margin-top: 48px;
}

.form-container ion-item {
  --padding-start: 0;
  --border-color: #DADADA;
}

.form-container ion-item ion-label {
  color: #A6A6A6;
}

.form-container ion-item ion-icon {
  margin-top: auto;
  color: #c6cbd4;
}

.form-container ion-button {
  margin-top: 48px;
  text-transform: capitalize;
}

.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up ion-button {
  margin: 0;
}

.logo{
  height: 7rem;
    width: 9rem;
    margin: 0 auto;
    display: block;
}