p{
  font-size: 10px;
    color: #fb3434;
    font-weight: bold;
    /* text-align: inherit; */
    text-align: start;
    margin-left: 33px;
    margin-top: -3em;
}
h6{
  font-size: 1.5rem;
    color:#454545;
  }
.btn-login{
padding: 0 4rem;
margin-top: 4em;
}
.login img{
  margin:0 auto;
  width:10rem;
  display:block;
}
.logininput{
  margin-top:5rem;
}
.login{
  --background: linear-gradient(to right, #9dff7d, white 98%);
}
ion-item {
    ion-input{
        color:#006f00;
        font-size:14px;
      }
  }
  ion-content{

    --background: url(../../assets/imgs/bg.png) 0 0/100% 100% no-repeat;
    }
ion-item{
  width:80%;
margin:2rem auto 2rem auto;
}
.logininput ion-item{
  --highlight-color-focused:transparent;
  --highlight-height:0;
  --highlight-color-invalid:#000;
  --highlight-color-valid:#ddd;
  //--min-height:65px;
 // --padding-start:0;
  --padding-start: 3%;
}
.label-ios + ion-input .text-input, .label-ios + ion-textarea .text-input, 
.label-ios + .input + .cloned-input{
  margin-left:0;
}
ion-toolbar{
  --background: #0b833c;
}
a{
  text-decoration: underline;
}
.toolbar-title{
  overflow:hidden!important;
}
.login-back{
  font-size: 22px;
}

ion-label{
  color:green!important;
 display:block;
 text-align: center;
 }

.forgot-password{
  color: green;
  font-size:10px;
  display: block;
  text-align: right;
  font-weight:bold;
  margin-right: 17px;
 }
// ion-item{
//   --background: linear-gradient(to right, #9dff7d, white 98%);
// }

// ion-content
//   {
    
//     --background: linear-gradient(to right, #9dff7d, white 98%);
//   }
 
  ion-button{
    --background: #0b833c;
    width: 88%;
    height: 37px;
    margin: 0 auto;
    display: block;
  }



  

  