
ion-input,ion-textarea{
    font-size:12px;
    font-weight:bold;
}
ion-toolbar{
  --background:#27ae60;
}
img{
  height: 4em;
    width: 4em;
    display: block;
}
.error{
  color: red;
    font-size: 10px;
    font-weight: 700;
    margin: 3px;
}
ion-icon{
  
    transition: opacity 1s linear;
 
}
// ion-toolbar {
//   --background: transparent;
//   --ion-color-base: transparent !important;
//   }
  
 
.location_icon{
  font-size: 19px;
  margin: top;
  margin-top: 9px;
  
}
.address{
  word-spacing: 0px;
    text-align: center;
    display: block;
    font-weight: bold;
    font-size: 10px;
    color: green;
    margin: 0 auto;
    border: 1px solid #bbf7bb;
}
ion-button{
  text-transform: capitalize;
  --background: #42d77d;
 
  font-size: 13px;
    width: 100%;
   
}
ion-chip{
  position: absolute;
  left: 55px;
  top: 44em;
  margin-left: 3px;
  padding: 0px;
  
}
.cancel{
  color: white;
  margin: 11px;
  font-size: 27px;

}
ion-label{
    font-size: 13px;
}
.image_display{
  border-radius: 5px;
    height: 5em;
    width:7em;
    display: block;
}
 
ion-item{
    --highlight-color-focused:transparent;
    --highlight-height:0;
    --highlight-color-invalid:#000;
    --highlight-color-valid:#ddd;
    --min-height:65px;
   // --padding-start:0;
    --padding-start: 3%;
  }
   
 
  




   
 