<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Post Product</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-row align-items-center >
    

   
<ion-col  size="12">
    <ion-label  class="address">
   <ion-icon class="location_icon" slot="start"  color="primary" name="locate" ></ion-icon>
  {{address}}
</ion-label>
</ion-col>

</ion-row>

<form [formGroup]="formcontrol">
  <ion-grid>


    <ion-row>
      <ion-col>
       
          <ion-item >
            <ion-input id="categorytype">{{ today | date: 'dd/MM/yyyy HH:mm' }}</ion-input>
          </ion-item>
       
      
      </ion-col>
    </ion-row>


      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label color="success" position="floating">Product Name</ion-label>
            <ion-input formControlName="name"></ion-input>
          </ion-item>
          <p class="error" *ngIf="isSubmitted && errorControl.name.errors?.required">
           product name required.
          </p>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label color="success"  position="floating">Product Description</ion-label>
            <ion-textarea formControlName="desc" rows="6" cols="20"></ion-textarea>
          </ion-item>
          <p class="error" *ngIf="isSubmitted && errorControl.desc.errors?.required">
            product description name required.
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label color="success"  position="floating">Product Price</ion-label>
            <ion-input formControlName="price" (keypress)="keyPress($event)" minlength=2 maxlength=5
              class="ion-margin-top" type="number"></ion-input>
          </ion-item>
          <p class="error" *ngIf="isSubmitted && errorControl.price.errors?.required">
             price required.
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label color="success" placeholder="kgs" position="floating">Product Quantity</ion-label>
            <ion-input formControlName="quant" 
            class="ion-margin-top" type="text"></ion-input>
          </ion-item>
          <p class="error" *ngIf="isSubmitted && errorControl.quant.errors?.required">
            quant required.
          </p>
        </ion-col>
      </ion-row>

      
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Post In to </ion-label>
            <ion-select formControlName="category" value="brown" okText="Okay" cancelText="Dismiss">
              <ion-select-option value="Vegetables">Vegetables</ion-select-option>
              <ion-select-option value="Fruits">Fruits</ion-select-option>
              <ion-select-option value="Default">Default</ion-select-option>

            </ion-select>
          </ion-item>
          <p class="error" *ngIf="isSubmitted && errorControl.category.errors?.required">
           choose any one category.
          </p>
        </ion-col>
      </ion-row>

       
      


   <h2>Personal Details</h2>

   <ion-row>
    <ion-col>
      <ion-item>
        <ion-label color="success"  position="floating">Your FullName</ion-label>
        <ion-input clearInput formControlName="productfullname"
        class="ion-margin-top" type="text"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

   
   <p class="error" *ngIf="isSubmitted && errorControl.productfullname.errors?.required">
   Name must required.
  </p>
 
  <p class="error" *ngIf="isSubmitted && errorControl.productfullname.errors?.pattern">
   Name contain only characters.
  </p>
  


   <ion-row>
    <ion-col>
      <ion-item>
        <ion-label color="success" 
        placeholder="+91"clearInput position="floating">Mobile Number</ion-label>
        <ion-input  clearInput formControlName="productphone" 
        class="ion-margin-top" type="number"></ion-input>
      </ion-item>

      <!-----Validate Number ------->
      <p class="error" *ngIf="isSubmitted && errorControl.productphone.errors?.required">
        Phone number is required.

      </p>
      <p class="error" *ngIf="isSubmitted && errorControl.productphone.errors?.maxlength">
        Please enter 10 digit Mobile number.
      </p>
      <p class="error" *ngIf="isSubmitted && errorControl.productphone.errors?.pattern">
        <!-- Please enter a valid number. -->
        Please enter a valid number.
      </p>
      
      



    </ion-col>
  </ion-row>

  


  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label color="success"  position="floating">City</ion-label>
        <ion-input formControlName="city"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

</ion-grid>


<!-- DISPLAYING -->
<div *ngIf="images"> 
<ion-card   mode="ios">
      <ion-card-content>
      <ion-row>
        <ion-col *ngFor="let img of images">
        <img  src={{img}}>
       
        </ion-col>

      </ion-row>
      </ion-card-content>
    </ion-card>
</div>
<!-- NOT DISPLAYING -->

    

<div *ngIf="!images == images">Please Choose Images</div>

<!-- Gallery Buttons of Choosing  -->
<ion-row>
  <ion-col size="6">
    <ion-button (click)="PickFile()">Choose Image&nbsp;
      <ion-icon name="folder"></ion-icon>
    </ion-button>
  </ion-col>
 
    
  <ion-col size="6">
    <ion-button (click)="PickfromCamera()">Capture&nbsp;
      <ion-icon name="camera">Camera</ion-icon>
    </ion-button>
  </ion-col>


</ion-row>

<ion-footer color="success">
  <ion-button color="success"    expand="block" (click)="add()" class="ion-text-center">POST</ion-button>
</ion-footer>
   
 
  </form>

</ion-content>
