<ion-header class="ion-no-border">
  <ion-back-button slot="start" defaultHref="/"></ion-back-button>
  <div class="login-header">


    <img class="logo-img  " src="../../assets/icon/Artboard 2.png">
  </div>
</ion-header>





<ion-content fullscreen ion-padding>


  <div class="center">

    <ion-item transparent>
      <img icon-small src="../../assets/icon/phone.png">
      <ion-input placeholder="Please enter your register number" type="text"></ion-input>
    </ion-item>




    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block" fill="solid" (click)="reset()">Forgot</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>



</ion-content>