<ion-app>
  <ion-menu class="custom"
   contentId="main" side="start" type="overlay">


   
    <!-- <ion-header no-border>


   

      <div *ngIf="profilePhoto">
        <ion-avatar>
          <img [src]="profilePhoto">
        </ion-avatar>
      </div>
      
      <div *ngIf="!profilePhoto">
        <ion-avatar>
          <img [src]="defaultimageshow">
        </ion-avatar>
      </div>




      <ion-item routerLink="/dashboard/account" routerDirection="forward" lines="none" color="none">
        <ion-label>
          <b style="color: green;margin-left: 64px;font-size: 12px">{{name | titlecase }}</b><br>
        </ion-label>
      </ion-item>
    </ion-header> -->

    <ion-content class="menubar">

      <div class="profile">
        <ion-row>
          <ion-col col-4>
            <img src="../assets/imgs/avatar.png" alt=""></ion-col>
          <ion-col col-4>
            <p>{{'Hi'| translate }} {{name }}</p>
          </ion-col>

          <ion-col col-4>
            <div class="menuclose">
          <ion-icon (click)="menuclose()" name="caret-back" ></ion-icon>
        </div>
            </ion-col>
        </ion-row>
      </div>


        
      <!-- USER MENU ITEMS -->
       <ion-list lines="none"> 

      <ion-item class="menuitem">
        &nbsp;&nbsp;<p>{{ 'Home_menu' | translate }}</p>
      </ion-item>

      <ion-item  class="menuitem">
       &nbsp;&nbsp;<p>{{ 'Category_menu' | translate }}</p>
      </ion-item>



      <ion-item  class="menuitem">
       &nbsp;&nbsp;<p>{{'Offers_menu'  | translate }}</p>
       </ion-item>

      <ion-item routerLink="/postadvert" routerDirection="forward" class="menuitem">
       &nbsp;&nbsp;<p>{{ 'Post Advertisement_menu' | translate }}</p>
      </ion-item>


      <ion-item  class="menuitem">
       &nbsp;&nbsp;<p>{{ 'Buy Package_menu' | translate }}</p>
      </ion-item>


      <ion-item  class="menuitem">
      &nbsp;&nbsp;<p>{{ 'Support_menu' | translate }}</p>
      </ion-item>


      <ion-item class="menuitem">
       &nbsp;&nbsp;<p>{{ 'Privacy_menu' | translate }}</p>
     </ion-item>

      <ion-item class="menuitem">
      &nbsp;&nbsp;<p>{{ 'Partner_menu' | translate }}</p>
    </ion-item>



    </ion-list>

    <ion-item-divider></ion-item-divider>

    <ion-list lines="none">

   
      <ion-item class="menuitem">
        <ion-icon slot="start" name="book-outline"></ion-icon>
        <p>About MobileMandi</p>
      </ion-item>
    
      <ion-item class="menuitem">
        <ion-icon name="newspaper-outline" slot="start"></ion-icon>
        <p>Terms & Conditions</p>
        </ion-item>

        <ion-item class="menuitem">
          <ion-icon slot="start"name="call-outline"></ion-icon> <p>Customer Support</p>
          </ion-item>

          

          <ion-item class="menuitem">
            <ion-icon slot="start" name="star-outline"></ion-icon>
            <p>Rate Mobile Mandi App </p>
            </ion-item>

          </ion-list>

























      <!-- <div *ngIf="user">
        
<div *ngFor="let p of UserMenuItems">
          <ion-menu-toggle *ngIf="p.url">
            <ion-list>

              <ion-item [routerLink]="p.url" routerDirection="forward" routerLinkActive="active">
                <ion-icon [name]="p.icon" slot="start"></ion-icon>
                <ion-label>
                  {{p.title}}
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-menu-toggle>



          <ion-item style="padding: 4px;" button *ngIf="p.children?.length > 0" (click)="p.open =!p.open" [class.active.parent]="p.open"
            detail="false">
            <ion-icon slot="end" name="chevron-forward-outline" *ngIf="!p.open"></ion-icon>
            <ion-icon slot="end" name="chevron-down-outline" *ngIf="p.open"></ion-icon>
            <ion-label>{{p.title}}</ion-label>
            <ion-icon slot="start" [name]="p.icon"></ion-icon>
          </ion-item>

          <ion-list lines="none" *ngIf="p.open">
            <ion-menu-toggle>
              <ion-item style="--padding-start: 66px;" *ngFor="let sub of p.children" routerDirection="root"
                [routerLink]="sub.url" routerLinkActive="active">

                <ion-label style="font-size:11px;" class="sub-item">
                  {{sub.title}}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </div>
      </div> -->


      <!-- ADMIN MENU ITEMS -->
      <div *ngIf="admin">
        <div *ngFor="let admin of AdminMenuItems">


          <ion-menu-toggle *ngIf="admin.url">
            <ion-list>

              <ion-item [routerLink]="admin.url" routerDirection="forward" routerLinkActive="active">
                <ion-icon [name]="admin.icon" slot="start"></ion-icon>
                <ion-label>
                  {{admin.title}}
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-menu-toggle>

        </div>

     </div>
















    </ion-content>
    <!-- <ion-footer class="ion-no-border">
      <ion-toolbar (click)="logout()">
        <ion-row>
          <ion-col style="text-align: center;">
            <ion-label style="color:white!important;font-size:15px;" class="items">LogOut</ion-label>
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-footer> -->

  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>

</ion-app>