h1{
  font-family: 'Pacifico', cursive!important;
  color:green;
}
ion-button{
  width: 7rem;
text-transform: capitalize;
  margin: 0 auto;
  display: block;
}
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');