
<ion-content>

  <!-- <ion-list lines="none">
    <ion-item>
      <ion-checkbox  checked color="success"></ion-checkbox>
      <ion-label class="ion-margin-start" >English</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="primary" color="success"></ion-checkbox>
      <ion-label class="ion-margin-start">Hindi</ion-label>
    </ion-item>
    <ion-item>

      <ion-checkbox color="primary" color="success">Hindi</ion-checkbox>
      <ion-label class="ion-margin-start">Kannada</ion-label>
    </ion-item>
  </ion-list>
  -->

  <ion-item>
    <ion-label>Gender</ion-label>
    <ion-select placeholder="Select One">
      <ion-select-option value="f">Female</ion-select-option>
      <ion-select-option value="m">Male</ion-select-option>
    </ion-select>
  </ion-item>
 

  
</ion-content>
