<ion-header>
  <ion-toolbar >
<ion-searchbar  [(ngModel)]="search" (ionInput)="getItems($event)" ></ion-searchbar>
 </ion-toolbar>  
</ion-header>

<ion-content no-padding>
 <div class="container">
  <div *ngFor="let item of items">
      <ion-row>
        <ion-col col-4>
          <ion-avatar class="animate-item delay-500ms">
            <img [src]="item.catimg">
          </ion-avatar>
          </ion-col>
        
        <ion-col col-8>
          <p>{{item.categoryname}}</p>
          <p>{{item.categorydesc}}</p>
       </ion-col>
     
      </ion-row>
      </div>
      </div>


  
    <!-- <ion-list>
     <ion-item  *ngFor="let item of items" (click)="gotopostadd(item)">
  <img [src]="item.ImageCategory">
  <ion-label  class="item ion-margin-start">{{item.categoryname}}</ion-label>
  <ion-icon  name="chevron-forward-outline" slot="end"></ion-icon>
  </ion-item>

 
<ng-template #noItems>
  <ion-item>
    No items found.
  </ion-item>
</ng-template>
</ion-list> -->


 
</ion-content>





