<ion-header >
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-button class="backbtn" routerLink="/welcomepage"  routerDirection="backward">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light">Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding background">


 
  <form [formGroup]="registerForm" (ngSubmit)="getregister(registerForm.value)">
  <div class="ion-padding container">
    <img class="logo" src="../../assets/icon/Artboard 2.png"/>

    <div class="form-container">
      <ion-item>
        <ion-label position="floating">FullName</ion-label>
        <ion-input formControlName="fullname" clearInput></ion-input>
      </ion-item>

        <!---------Validate Fullname-------->
        <div class="validation_message">

  <p class="error" *ngIf="isSubmitted && errorControl.fullname.errors?.required">
    <ion-icon  name="alert-outline"></ion-icon> Name is required.
  </p>

  <p class="error" *ngIf="isSubmitted && errorControl.fullname.errors?.pattern">
    <ion-icon name="alert-circle-sharp"></ion-icon> Name must contain only letters.
  </p>
  <p class="error" *ngIf="isSubmitted && errorControl.fullname.errors?.maxlength">
    <ion-icon name="alert-circle-sharp"></ion-icon>Name cannot be more than 20 characters long.
  </p>
  </div>



      <ion-item class="ion-no-padding">
        <ion-label position="floating">Phone Number</ion-label>
        <ion-input maxlength="10" formControlName="number" (keypress)="isInputNumber($event)" clearInput ></ion-input>
      </ion-item>


      <!-----Validate Number ------->
      <div class="validation_message">

<p class="error" *ngIf="isSubmitted && errorControl.number.errors?.required">
  <ion-icon name="alert-outline"></ion-icon>Phone number is required.</p>
<p class="error" *ngIf="isSubmitted && errorControl.number.errors?.minLength">
  <ion-icon name="alert-circle-sharp"></ion-icon> Please enter 10 digit Mobile number.</p>
<p class="error" *ngIf="isSubmitted && errorControl.number.errors?.pattern">
 <ion-icon name="alert-circle-sharp"></ion-icon>Please enter a valid number.
</p>  
</div>

<ion-button (click)="getregister(registerForm.value)" expand="block" class="main-button">Sign Up</ion-button>

    <div class="sign-up">
        <ion-label slot="fixed" expand="block"> Already have an account? &nbsp;<a
          routerLink="/login">Sign
          in</a>
      </ion-label>
      </div>




    </div>
  </div>
</form>

</ion-content>