<ion-header>
  <ion-toolbar>
    <ion-back-button color="light" slot="start" defaultHref="/dashboard/home"></ion-back-button>
    <ion-title color="light">Post Advertisement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-col  size="12">
    <ion-label  class="address">
   <ion-icon class="location_icon" slot="icon-only"  color="primary" name="locate" ></ion-icon>
  {{address}}
</ion-label>
</ion-col>


  <form [formGroup]="formcontrol">
    <div id="container">

      <!-- <ion-item transparent>
        <ion-label color="success" position="floating"></ion-label>
        <p id="categorytype">{{demo.categoryname}}</p>
      </ion-item> -->

      <ion-item transparent>
        <ion-input id="categorytype">{{ today | date: 'dd/MM/yyyy HH:mm' }}</ion-input>
      </ion-item>

      <ion-item transparent>
        <ion-label color="success" position="floating">Name of the product</ion-label>
        <ion-input formControlName="advname" clearInput type="text"></ion-input>
      </ion-item>

      <p class="error" *ngIf="isSubmitted && errorControl.advname.errors?.required">
        Productname is required*
      </p>

      <p class="error" *ngIf="isSubmitted && errorControl.advname.errors?.pattern">
        Product name must contain only characters.
      </p>
     
      <ion-item>
        <ion-label color="success" position="floating">Description</ion-label>
        <ion-textarea clearInput formControlName="advdesc" placeholder="please provide product description"></ion-textarea>
      </ion-item>
      
      <p class="error" *ngIf="isSubmitted && errorControl.advdesc.errors?.required">
        Product description is required*
      </p>

      <ion-item>
        <ion-label>Post In to </ion-label>
        <ion-select formControlName="advcategory" value="brown" okText="Okay" cancelText="Dismiss">
          <ion-select-option value="Vegetables">Vegetables</ion-select-option>
          <ion-select-option value="Fruits">Fruits</ion-select-option>
          <ion-select-option value="Default">Default</ion-select-option>

        </ion-select>
      </ion-item>
      <p class="error" *ngIf="isSubmitted && errorControl.advcategory.errors?.required">
        choose any one category.
       </p>

      <ion-item transparent>
        <ion-label color="success" position="floating">Price of the product</ion-label>
        <ion-input formControlName="advprice" clearInput type="number"></ion-input>
      </ion-item>
      <p class="error" *ngIf="isSubmitted && errorControl.advprice.errors?.required">
        Price is required*
      </p>

      <ion-item transparent>
        <ion-label color="success" position="floating">Quantity of the product</ion-label>
        <ion-input formControlName="advquant" placeholder="Kgs" clearInput type="number"></ion-input>
      </ion-item>
      <p class="error" *ngIf="isSubmitted && errorControl.advquant.errors?.required">
        Quantity is required*
      </p>
      <!-----Personal Details------>

      <h2 class="ion-text-center">Personal Details</h2>


      


      <ion-item transparent>
        <ion-label color="success" position="floating">Full Name</ion-label>
        <ion-input formControlName="advfullname" clearInput type="text"></ion-input>
      </ion-item>

      <p class="error" *ngIf="isSubmitted && errorControl.advfullname.errors?.required">
     Name is required*
      </p>

      <ion-item transparent>
        <ion-label color="success" position="floating">City Name</ion-label>
        <ion-input formControlName="advcity" clearInput type="text"></ion-input>
      </ion-item>
      <p class="error" *ngIf="isSubmitted && errorControl.advcity.errors?.required">
        City name is required*
      </p>

      <ion-item transparent>
        <ion-label color="success" position="floating">Phone Number</ion-label>
        <ion-input formControlName="advphone" placeholder="+91" clearInput type="number"></ion-input>
      </ion-item>
      <!-----Validate Number ------->
      <p class="error" *ngIf="isSubmitted && errorControl.advphone.errors?.required">
        Phone number is required.

      </p>
      <p class="error" *ngIf="isSubmitted && errorControl.advphone.errors?.maxlength">
        Please enter 10 digit Mobile number.
      </p>
      <p class="error" *ngIf="isSubmitted && errorControl.advphone.errors?.pattern">
        <!-- Please enter a valid number. -->
        Please enter a valid number.
      </p>


     
        <!----Gallery Images to be Choosen-->
    
      <!-- <div class="img" >
        
          <span style="border-color:#222;border-width:thin;border-style:solid;"
            *ngFor="let image of pickerimages;let i=index;">
      <img style="height:75px;width:75px;" src="{{image}}" />


            <p (click)="remove(i)"
              style="color:black;text-decoration: underline;
              font-size:14px;font-weight:bold;position:relative;left:100px;top:-80px;">
              Delete</p>
          </span>
         </div>   -->
    
         <ion-card  *ngIf="images" mode="ios">
          <ion-card-content>
          <ion-row>
            <ion-col *ngFor="let img of images">
            <img  src={{img}}>
           </ion-col>
    
          </ion-row>
          </ion-card-content>
        </ion-card>

      <!-- Gallery Buttons of Choosing  -->
      <ion-row>
        <ion-col size="6">
          <ion-button (click)="PickfromGallery()">Choose Image&nbsp;
            <ion-icon name="folder"></ion-icon>
          </ion-button>
        </ion-col>
        
          
        <ion-col size="6">
          <ion-button (click)="PickfromCamera()">Capture&nbsp;
            <ion-icon name="camera">Camera</ion-icon>
          </ion-button>
        </ion-col>


      </ion-row>



<!-- 
      <div class="ion-padding">
        <ion-list *ngFor="let photo of photos">
          <ion-item >
<img src={{photo}} style="width:80px;height:80px;"/>
          </ion-item>
        </ion-list>
      </div> -->

<ion-button (click)="uploadmyadd()">Upload My Add</ion-button>

 

    </div>
  </form>







</ion-content>


