<ion-header>
  <ion-toolbar>
    <ion-title>Customer Service</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h3>Hi ,How can we help you ??</h3>
  <ion-list-header></ion-list-header>
<div style="text-align:start">DO YOU NEED ANY HELP WITH?</div>


<ion-list lines="none">
  <ion-item>Package Details</ion-item>
  <ion-item>Offer Cancellations</ion-item>

</ion-list>

<ion-list-header></ion-list-header>
<h3>NEED MORE HELP ?</h3>
<ion-list lines="none">
  <ion-item>FAQ's</ion-item>
  <ion-item>Policy</ion-item>
  <ion-item (click)="presentmodal()">Contact Us</ion-item>
</ion-list>
</ion-content>
