<ion-header no-border>
  <ion-toolbar>
  <ion-icon routerDirection="backward" color="dark"
  routerLink="/dashboard/home" 
  class="searchicon" slot="start" name="arrow-back"></ion-icon>
    
 

  </ion-toolbar>
</ion-header>
   
   

  
<ion-content no-padding>  
  <div class="search ion-padding">
    <ion-item lines="none">
      <ion-input placeholder="Search Your Product"></ion-input>
      <ion-icon name="search-outline" slot="start"></ion-icon>
    </ion-item>
  </div>

  



</ion-content>
