.thumnails{
  overflow-x: scroll;
  overflow-y: hidden;
  .list-thumbnail{
    height: 100%;
    white-space: nowrap;
    .img-thumb{
      display: inline-block;
      border: 1px solid #ddd;
    
      width: 80px !important;
  
  background-color: #FFF;
      // float: left;
      margin-left: 8.5px !important;
  margin-right: -2.5px !important;
  border-radius: 50px !important;
    }
    
  }
}
::-webkit-scrollbar { 
  display: none; 
}

.viewall{
font-size: 1.2rem;
  margin-right: 5px;
background:#9C0202;
  color:#ffffff;
  border-radius: 5px;
}
.category{
  margin-left: 10px;
   font-size: 1.8rem;
 }
.category_img{
  width: 29px;
    height: auto;
    margin-top: 19px;
}



ion-toolbar{
  height: 4em!important;
}
.location{
background:#0b833c;
  color: #ffffff;
font-size:12px;
  width: fit-content;
}

.itemimg {
  width: 70px;
  height: 70px;
  background-size: cover;
  margin: 0px 10px;
}

ion-item{
  --background: #0b833c;
}

.slides1 {
 height:97%;
  position: relative;
}


p{
  text-transform: uppercase;
  font-size: 10px;
  color: green;
 // padding: 13px 2px 2px 2px;
}
.cartbadge ion-badge{
  padding:2px 5px;
  background: #f1060e;
}
  .toolbar{
    min-height: 60px;
  }
 
  ion-button{
    --background:#9C0202;
  }
  ion-toolbar{
    --background: #0b833c;
    
  }

  
  ion-slide:hover{
    background: rgba(160, 216, 182, 0.43);
    cursor: pointer;
  
  }
  span img{
    width: 55px;
    height: 55px;
  }
.category_view{
  text-align:end;
}
  .address{
    font-size: 10px;
    color: white;
    text-transform: capitalize;
  }
  
  
  




.footer_text{
  font-size: 10px;
  color:white;

}






