<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light" autoHide="true"> </ion-menu-button>
    </ion-buttons>

    <div class="location" >
    <span class="address">{{address}}</span>
    </div>


    <ion-buttons slot="end">
      <ion-button  (click)="opensearch()"class="notification">
        <ion-icon (click)="opensearch()" name="search-outline" color="light"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>
      <ion-select mode="md" slot="end" (ionChange)="changelang($event)" class="location" interface="popover"
      [(ngModel)]="selectedtemp">
      <ion-select-option *ngFor="let l of languages" value="{{l.code}}">{{l.type}}</ion-select-option>
    </ion-select>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding-bottom">
<ion-slides pager  [options]="slideOptions" autoplay="1000" #slider
       (ionSlidesDidLoad)="slidesDidLoad(slider)">
        <ion-slide *ngFor="let slid of slides">
          <img  src="{{slid.slideimage }}" />
        </ion-slide>
    </ion-slides>

     
 
  <div class="category-slider ion-padding-start">
    <div class="title ion-padding">
      <h2 class="font-bold">{{'Category_menu' | translate }}</h2>
      <p>{{'See_all' | translate }}</p>
    </div>
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let cat of categories">
        <ion-col>
          <h4>{{ cat.name }}</h4>
          <img style="border-radius: 75%;
          width: 5rem;height: 5rem;" src="{{cat.categoryimage }}" />
        </ion-col>  
      
      </ion-slide>
    </ion-slides>
  </div>

  <div class="homeproducts">
    <ion-row>
      <ion-col col-6>

      
    <ion-card  *ngFor="let items of postadds">
      <img class="p-2" [routerLink]="['/product-detail',items.id]"
              src="http://localhost:4000/{{items.advimgbase.split(',')[0]}}" />
              
              <ion-card-header>
                <h2 class="text-center">{{items.advname}}</h2>
              </ion-card-header>
              <ion-card-content>
                <div class="quantity">{{items.advquant}} {{items.advcategory}}</div> 
                <div class="price">{{items.advprice}}</div>
              </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>
    </div>

   

    
    <!-- <ion-grid>
      <ion-row>
       <div class="homeproducts">
            <ion-col  col-6>
            <ion-card *ngFor="let items of postadds">
            <img class="p-2" [routerLink]="['/product-detail',items.id]"
              src="http://localhost:4000/{{items.advimgbase.split(',')[0]}}" />
          
              <h4 class="name">{{items.advname}} </h4>
              <p class="name">{{items.advquant}}</p>
          
            
              <div class="price">{{items.advprice | currency :"Rs. "}}</div>
         
          </ion-card>
        </ion-col>
        </div>
       
      </ion-row>
    </ion-grid> -->

    
    







  
  
  </ion-content>

  