

.end-icons{
  font-size: 17px;
    color: green;
}

.heading{
  font-size: 14px;
    color: green;
    font-weight: 700;
}
#tagline{
  font-size: 10px;
  font-weight: 700;
}
*,h4{
  font-family: 'Montserrat';
}
ion-avatar{
  margin: 0 auto;
  width: 100px;
  height: 100px;
}
ion-header{
  background:#27ae60;
}
ion-toolbar{
  --background:#27ae60;
  color: white;
}
.my-info{
  font-size: 12px;
    font-weight: 900;
    color: green;
}
.my-info-icon{
  font-size: 17px;
    color: green;
}
.tag{
  font-size: 17px;
  text-decoration: underline;
  /* margin: 0px; */
  padding: 9px 14px;
  color: black;
}

