<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon class="ion-margin-start login-back" 
    name="arrow-back"
     slot="start" color="light"></ion-icon>
    <ion-title style="color:#fff;" color="light">Register</ion-title>
  </ion-toolbar>
  </ion-header>

<ion-content no-padding >
  <div class="login">
    <img src="../../assets/icon/Artboard 2.png" alt="">
   <div class="logininput">
  <form [formGroup]="formcontrol">


    <ion-item>
      <ion-label fixed color="primary"> FullName</ion-label>
    <ion-input formControlName="fullname" clearInput type="text" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label fixed color="primary"> Phone</ion-label>
  <ion-input clearInput formControlName="number" clearInput type="number" ></ion-input>
</ion-item>

    
  <!---------Validate Fullname----- -->
  <p class="error" *ngIf="isSubmitted && errorControl.fullname.errors?.required">
    Name is required.
  </p>
  <p class="error" *ngIf="isSubmitted && errorControl.fullname.errors?.minlength">
    Name must be at least 5 characters long.
  </p>
  <p class="error" *ngIf="isSubmitted && errorControl.fullname.errors?.pattern">
    Name must contain only letters.
  </p>
  <p class="error" *ngIf="isSubmitted && errorControl.fullname.errors?.maxlength">
    Name cannot be more than 20 characters long.
  </p>

    
<!-----Validate Number ------->
<p class="error" *ngIf="isSubmitted && errorControl.number.errors?.required">
  Phone number is required.</p>
<p class="error" *ngIf="isSubmitted && errorControl.number.errors?.minlength">
  Please enter 10 digit Mobile number.</p>
<p class="error" *ngIf="isSubmitted && errorControl.number.errors?.pattern">
  <!-- Please enter a valid number. -->
  Please enter a valid number.
</p>


   
 <div class="btn-login">
      <ion-button size="small" slot="fixed" expand="block" fill="solid" (click)="login()">Register</ion-button>
      </div>
      <ion-label slot="fixed" expand="block" class="ion-text-center ion-margin-top">Already have an account? &nbsp;<a
          routerLink="/login">Login</a>
      </ion-label>

</form>
</div>
</div>




</ion-content>